h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
h4{
    color: white;
}
h5{
    color: white;
}
h6{
    color: white;
}
body{
    background-color: black;
}
p{
    color: white;
}
.gender{
    align:center;
}
.radio{
    color:white;

}
.name{
    color: white;
}
.heading{
    align:center;
}
.container {
    align:center;

}
style{
    align: center;
}
.foot {
    margin-top: 100%;
}

.head{
    margin:25pt;
    padding: 25pt;
    border: 1px solid black;
    background-color: dimgray;
}
