h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
h4{
    color: white;
}
h5{
    color: white;
}
h6{
    color: white;
}

body{
background-color: white;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    color:white;
}

tr:nth-child(even) {
    background-color: dimgray;
}
td{
    color:black;
}
th{
    color: black;;
}
p{
    color: white;
}
.row{
    display: inline-block;
    height:100pt;
    width:100pt;

}
div{

}
.foot {
    margin-top: 100%;
}
img {
    border: 1px solid black;
    background-color: black;
    padding: 25px;
}
.container{
    margin: 10pt;

}
.head{
    margin:25pt;
    padding: 25pt;
    border: 1px solid black;
    background-color: dimgray;
}
}
