h1 {
    color: white;

}

h2 {

}

.head {
    margin-top: 10%;
}

.foot {
    margin-top: 100%;
}

h3 {

    color: white;
}

h4 {

    color: white;

}

h5 {

    color: white;

}

.text-white {
    color: white;
}

.bg {
    background-color: black;
}

h6 {
    color: white;

}

.card {
    background-color: dimgray;
}

.card-body {
    border-style: solid;
    background-color: dimgray;
    color: white;;
}

.text-muted {
    color: white;;
}

.card-subtitle {
    color: white;
    text-align: right;
}

.deusvult {

    height: 100pt;
    width: 100pt;
!important;

}

.tabard {
    color: white;
    height: 100pt;
    width: 100pt;
!important;
}

.sigil {
    color: white;
    height: 100pt;
    width: 100pt;
!important;
}

img {
    border: 1px solid black;
    background-color: dimgray;
    padding: 25px;

}

body {

}

p {
    text-align: center;

}

.grey {
    margin:25pt;
    color: white;
    padding: 25pt;
    border: 1px solid black;
    background-color: dimgray;
}
}

footer {
    background-color: black;

    color: white;
}
.card-deck{
    color: white;
}
